
<label class="topcoat-label">
 
</label>
<button ng-click="corpus.retrainLexicon()" class="topcoat-button--large fa fa-refresh"> Re-train</button>

<label class="topcoat-label">
  Auto save and Re-train on edits:
</label>
<label class="topcoat-switch">
    <input type="checkbox" ng-model="corpus.prefs.autoSaveAndReTrain" class="topcoat-switch__input">
    <div class="topcoat-switch__toggle">
    </div>
</label>

<label class="topcoat-label">
    Precedence Graph:
</label>
<label class="topcoat-switch">
    <input type="checkbox" ng-model="corpus.prefs.showGlosserAsGraph" class="topcoat-switch__input">
    <div class="topcoat-switch__toggle">
    </div>
</label>

<label class="topcoat-label">
    Lexicon Node List:
</label>
<label class="topcoat-switch">
    <input type="checkbox" ng-model="corpus.prefs.showLexiconAsList" class="topcoat-switch__input">
    <div class="topcoat-switch__toggle">
    </div>
</label>

<label class="topcoat-label" title="This can help see the linear/template order of morphemes, rather than which morphemes are over-represented in the corpus.">
    Graph Word Boundaries:
</label>
<label class="topcoat-switch">
    <input type="checkbox" ng-model="corpus.prefs.graphWordBoundaries" class="topcoat-switch__input">
    <div class="topcoat-switch__toggle">
    </div>
</label>

<label class="topcoat" title="Lexicon nodes below the threshold wont be shown">Confidence cut-off min:</label>
<label class="topcoat" title="Lexicon nodes below the threshold wont be shown">
    <input ng-model="corpus.prefs.showLexiconConfidenceRange.min" type="range" min="0" max="1" class="topcoat-range" step="0.01">
</label>
<label class="topcoat" title="Lexicon nodes above the threshold wont be shown">max:</label>
<label class="topcoat" title="Lexicon nodes above the threshold wont be shown">
    <input ng-model="corpus.prefs.showLexiconConfidenceRange.max" type="range" min="0" max="1" class="topcoat-range" step="0.01">
</label>
